<h1>Listing Users</h1>
<h3 style="float: right"><a href="/users/new">Add New User</a></h3>
<table class="table">
  <%= for user <- @users do %>
    <tr>
      <td><%= render "user.html", user: user %></td>
      <td><%= link "View", to: user_path(@conn, :show, user.id) %></td>
    </tr>
  <% end %>
</table>
